/* .template_training {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#video_training {
  display: flex;
  width: 1244px;
  height: 100vh;
} */

#canvas_training {
  position: absolute;
}