.App {
  height: 100vh;
  width: 100vw;
}

.ps-menu-button.active {
  background-color: #85c8d4;
}
.auth-header-nav .nav-wrapper {
  background: aliceblue;
  border-radius: 0.4rem;
}

.auth-header-nav.active .nav-wrapper {
  background: #2b6cb0;
  border-radius: 0.4rem;
  color: white;
}
